.widget-header
  %i.fa.fa-dot-circle-o.status-icon
  .title
    %strong(translate="widget.name.{{widget.name}}")
  .widget-header-btns
    %a(title="settings" ng-click="openSettings()" href="#" )
      %i.fa.fa-cog
    %a(title="remove widget" ng-click="removeWidget()" href="#" )
      %i.fa.fa-trash
  .clearfix

  .widget-container

    .widget-content(ng-class="{'danger' : usage >= 80}")
      .counter {{usage}}%

  %ul.widget-footer
    %li
      .label {{'widget.cpu.cores' | translate}}
      .counter x{{cores}}
    %li
      .label {{'widget.cpu.mhz' | translate}}
      .counter {{mhz}}
    %li
      .label {{'widget.cpu.max' | translate}}
      .counter {{max}}%



