.file-manager-header
    %span.title
    %a.cross(href="#" ng-click="closeThisDialog()")
        %span
            esc
.file-manager-body(perfect-scrollbar="true")
    %div(ng-show="mode == 'select'")
        .col-sm-2
            %ul.list-unstyled.filters
                %li(ng-repeat="filter in filter_list | orderBy: $index: true" ng-class="{selected : filter.selected}")
                    %a(href="#" ng-click="getFileList(filter.date)")
                        {{filter.date | date : 'yyyy-MM-dd'}}
                        %span.badge
                            {{filter.count}}
        .col-sm-10
            %ul.file-manager-items
                %a(ng-click="mode = 'upload'")
                    %li.drop-box.file-manager-item
                        %span.fa.fa-plus(aria-hidden="true")
                        .title Загрузить
                %li.file-manager-item( ng-repeat="file in file_list | orderBy: $index: true" ng-click="select($event, file)")
                    %img(ng-src="{{file.url}}" err-src="/static/images/placeholder_file_not_found.svg")
                    .file-manager-item-title
                        {{file.name}}
                    .cross.close-button(ng-show="!file.selected" ng-click="removeFile($event, file)")
                    .is_selected(ng-if="file.selected")
                        %i.fa.fa-check(aria-hidden="true")
    %div(ng-show="mode == 'upload'")
        .col-sm-2
            %a(href="#" ng-click="mode = 'select'")
                %i.fa.fa-file-archive-o
                Архив
        .col-sm-10
            %ul.file-manager-items
                %li.drop-box.file-manager-item(ngf-drop="true" ngf-select="selectFile($files)" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true")
                    %span.fa.fa-cloud-upload( aria-hidden="true")
                    .title
                        Добавить файлы
                %li.file-manager-item( ng-repeat="file in files_to_upload | orderBy: $index: true")
                    %img( ngf-thumbnail="file")
                    %img( src="/static/images/placeholder_file.svg" ng-if="file.type.indexOf('image') < 0")
                    .file-manager-item-title
                        {{file.name}}
                    .cross.close-button( ng-click="removeFile($event, file)")
.file-manager-footer
    %span( ng-if="files_to_upload || selected_files") Итого выбрано файлов: {{files_to_upload.length || selected_files.length}}
    %button.btn.btn-product.btn-sm.pull-right( ng-if="mode == 'upload'" ng-click="upload($event)" ng-disabled="!files_to_upload.length") Загрузить на сервер
    %button.btn.btn-product.btn-sm.pull-right( ng-if="mode == 'select'" ng-click="submit($event); closeThisDialog()" ng-disabled="!selected_files.length") Выбрать
