.row
  .col-md-12
    %h3
      %a(href="" ui-sref="dashboard.workflow.index")
        %small.fa.fa-long-arrow-left
          &nbsp;
      {{'workflow.show_form' | translate}} №{{workflow.workflow.id}}
      .edit-icon-link
        %a(ui-sref="dashboard.workflow.edit({id:workflow.workflow.id})")
          %span.fa.fa-pencil

    .pull-right.date-info-block
      .form-group
        %small
          {{'Created at' | translate}} {{workflow.workflow.created_at | readableDateTime}}
        %small
          {{'Updated at' | translate}} {{workflow.workflow.update_at | readableDateTime}}

.row
  .col-md-12
    .form-group
      .text-muted
        {{'workflow.status' | translate}}

      %span.label.label-success(ng-if="workflow.workflow.state == 'enabled'")
        {{"workflow.enabled" | translate}}
      %span.label.label-default(ng-if="workflow.workflow.status == 'disabled'")
        {{"workflow.disabled" | translate}}

    .form-group
      .text-muted
        {{'workflow.name' | translate}}
      %div
        {{::workflow.workflow.name}}

    .form-group(ng-if="workflow.workflow.description")
      .text-muted
        {{'workflow.description' | translate}}
      %div
        {{::workflow.workflow.description}}