.idea
tmp/
data/file_storage/*
bin/settings.sh
src/src
vendor/*
!vendor/manifest
/smart-home
/server
/conf/prod/db.conf
/conf/dev/db.conf
/conf/prod/app.conf
/conf/dev/app.conf
/conf/app.conf
migrate.log
