.idea
tmp/
data/file_storage/*
vendor/*
!vendor/manifest
/smart-home
/conf/prod/db.conf
/conf/dev/db.conf
/conf/prod/app.conf
/conf/dev/app.conf
/conf/app.conf
/bin/dbconfig.yml
data/scripts
trace.out