.idea
tmp/
data/file_storage/*
data/static/assets/*
vendor/*
/smart-home
/conf/config.json
/conf/dbconfig.yml
.DS_Store
snapshots/*
!snapshots/.gitignore
bee.json
._*
cli-*
server-*
build/public/*
smart-home-common.tar.gz
/coverage.out
webdav
