language: go

go:
  - 1.7.x

env:
  global:
    - UNAME="$(uname | tr '[:upper:]' '[:lower:]')"

before_install:
  - go env && pwd

install:
  - go get github.com/FiloSottile/gvt

script:
  - ./make --init
  - ./make --build

notifications:
  email: false