.row
  .col-md-12
    %h3 {{ 'notifr.email_system' | translate }}

.row
  .col-md-12
    .form-group
      %a(ui-sref="dashboard.notifr.new_template")
        .fa.fa-plus
        &nbsp;
        {{'notifr.add_template' | translate}}
      ,
      &nbsp;
      %a(ui-sref="dashboard.notifr.items")
        &nbsp;
        {{'notifr.element_of_template' | translate}}
.row
  .col-md-12
    .table(table="ctrl.options")