.panel.panel-default
  .panel-heading
    {{'Elements' | translate}}
  .panel-body
    .form-group
      %a(href="#" ng-click="addElement()")
        .fa.fa-plus
        &nbsp;
        {{'Add element' | translate}}
    .form-group
      elements...