.panel.panel-default.map-layers-editor
  .panel-heading
    {{'map.layers' | translate}}
  .panel-body
    .form-group
      %a(href="#" ng-click="addLayer()")
        .fa.fa-plus
        &nbsp;
        {{'map.add_layer' | translate}}

    .form-group
      %ul.list-group(ng-sortable="{ group: 'layers', animation: 0, handle: '.map-layer-handler', onSort: sortLayers}")
        %li.list-group-item(ng-repeat="layer in map.layers | orderBy:'weight'" ng-click="selectLayer(layer, $index)" ng-class="{'selected': layer == current_layer}")
          %span.map-layer-handler
            ☰
          %span.map-layer-subtitle
            %input.map-layer-title(type="text" name="subtitle" ng-model="layer.name" ng-click="$event.stopPropagation()")
          .pull-right(ng-if="layer.elements.length")
            .label.label-total-element
              {{layer.elements.length}}
