.row
  .col-md-6
    .form-group
      %laber {{'map.element.prototype.image' | translate}}*
      .map-preview-img.relative
        %a.fancybox(ng-href="{{current_element.prototype.image.url}}" rel="gallery" title="original" ng-if="current_element.prototype.image.url")
          %img(ngf-thumbnail="current_element.prototype.image.url || '/thumb.jpg'" alt="" title="")
        %a.delete.button(href="#" ng-click="current_element.prototype.remove_image()" ng-if="current_element.prototype.image.url")
          .cross

        %img(ngf-thumbnail="current_element.prototype.file" alt="" title="" ng-if="current_element.prototype.file")
        %a.delete.button(href="#" ng-click="current_element.prototype.file = null" ng-if="current_element.prototype.file")
          .cross

        %button.btn.btn-default.custom-upload.full-width(ng-click="current_element.prototype.show_file_manager()" ng-if="!current_element.prototype.image.url")
          .fa.fa-upload
          &nbsp;
          {{'set image' | translate}}



  .col-md-6
    .form-group
      %laber {{'map.element.prototype.style' | translate}}
      %textarea.form-control(ng-model="current_element.prototype.style")
