.row
  .col-md-12
    .btn.btn-primary.btn-small(href="#" ng-click="addNewImage()" data-help="{{'add new image object to selected layer' | translate}}")
      {{'map.element.prototype.image' | translate}}
    .btn.btn-primary.btn-small(href="#" ng-click="addNewText()" data-help="{{'add new text object to selected layer' | translate}}")
      {{'map.element.prototype.text' | translate}}
    -#.btn.btn-primary.btn-small(href="#" ng-click="addNewDevice()" data-help="{{'add new device object to selected layer' | translate}}")
      %strong Device
    -#.btn.btn-primary.btn-small(href="#" ng-click="addNewScript()" data-help="{{'add new script object to selected layer' | translate}}")
      %strong Script
    .btn.btn-primary.btn-small(href="#" data-help="{{'image manager' | translate}}")
      %div(file-manager="{}" )
        {{'map.file_manager' | translate}}

    .btn.btn-primary.btn-small.pull-right(href="#" ng-click="preview()" data-help="{{'preview' | translate}}")
      {{'map.preview' | translate}}
    .clearfix