.panel.panel-default.map-elements-editor
  .panel-heading
    {{'Elements' | translate}}
  .panel-body
    .form-group
      %a(href="#" ng-click="addElement()")
        .fa.fa-plus
        &nbsp;
        {{'Add element' | translate}}

    .form-group
      %ul.list-group(ng-sortable="{ group: 'elements', animation: 0, handle: '.map-element-handler', onSort: sortElements}")
        %li.list-group-item(ng-repeat="element in current_layer.elements | orderBy:'weight'" ng-click="selectElement(element, $index)" ng-class="{'selected': element == current_element}")
          .map-element-header
            %span.map-element-handler
              ☰
            %span.map-element-subtitle
              %input.map-element-title(type="text" name="subtitle" ng-model="element.name" ng-click="$event.stopPropagation()")
          .panel.panel-default(ng-click="$event.stopPropagation()" )
            .panel-body
              .row(ng-if="current_element.created_at && current_element.update_at")
                .col-sm-12
                  .pull-right.date-info-block
                    .form-group
                      -#%small
                        Создано {{current_element.created_at | readableDateTime}}
                      %small
                        Редактировалось {{current_element.update_at | readableDateTime}}
              .row
                .col-md-6
                  .form-group
                    %laber {{'map.element.name' | translate}}*
                    %input.form-control(ng-model="current_element.name")
                .col-md-6
                  .form-group
                    %laber {{'map.element.status' | translate}}
                    %select.form-control(ng-model="current_element.status")
                      %option(value="enabled")
                        {{'map.element.enabled' | translate}}
                      %option(value="disabled")
                        {{'map.element.disabled' | translate}}
                      %option(value="hidden")
                        {{'map.element.hidden' | translate}}
              .row
                .col-md-6
                  .form-group
                    %laber {{'map.element.type' | translate}}
                    %select.form-control(ng-model="current_element.prototype_type")
                      %option(value="image")
                        {{'map.element.image' | translate}}
                      %option(value="device")
                        {{'map.element.device' | translate}}
                      %option(value="script")
                        {{'map.element.script' | translate}}

              %hr

              -#image
              %div(ng-if="current_element.prototype_type == 'image'" ng-include="'/map-constructor/templates/_map_image.html'")

              -#device
              %div(ng-if="current_element.prototype_type == 'device'" ng-include="'/map-constructor/templates/_map_device.html'")

              -#script
              %div(ng-if="current_element.prototype_type == 'script'" ng-include="'/map-constructor/templates/_map_script.html'")

              .row
                .col-md-12
                  %a.btn.btn-default(href="" role="button" ng-click="removeElement(current_element)")
                    {{'Delete' | translate}}
                  %a.btn.btn-default(href="" role="button" ng-click="updateElement(current_element)")
                    {{'Update' | translate}}

