.panel.panel-default.map-elements-editor
  .panel-body
    .form-group
      %a(href="#" ng-click="addElement()")
        .fa.fa-plus
        &nbsp;
        {{'map.add_element' | translate}}

    .form-group
      %ul.list-group(ng-sortable="{ group: 'elements', animation: 0, handle: '.map-element-handler', onSort: current_layer.sortElements}")
        %li.list-group-item(ng-repeat="element in current_layer.elements | orderBy:'weight'" ng-click="selectElement(element, $index)" ng-class="{'selected': element.selected}")
          .map-element-header
            %span.map-element-handler
              ☰
            %span.map-element-subtitle
              %span
                %input.map-element-title(type="text" name="subtitle" ng-model="element.name" ng-click="$event.stopPropagation()")
              %span.label(ng-class="['label-'+ element.prototype_type]" translate="map.element.{{element.prototype_type}}" ng-if="element.prototype_type")


          .panel.panel-default(ng-click="$event.stopPropagation()" )
            .panel-body
              .row
                .col-md-6
                  .form-group
                    %laber {{'map.element.name' | translate}}*
                    %input.form-control(ng-model="element.name")
                .col-md-6
                  .form-group
                    %laber {{'map.element.status' | translate}}
                    %select.form-control(ng-model="element.status")
                      %option(value="enabled")
                        {{'map.element.enabled' | translate}}
                      %option(value="disabled")
                        {{'map.element.disabled' | translate}}
                      %option(value="frozen")
                        {{'map.element.frozen' | translate}}
              .row
                .col-md-6
                  .form-group
                    %laber {{'map.element.type' | translate}}
                    %select.form-control(ng-model="element.prototype_type")
                      %option(value="image")
                        {{'map.element.image' | translate}}
                      %option(value="text")
                        {{'map.element.text' | translate}}
                      %option(value="device")
                        {{'map.element.device' | translate}}
                      %option(value="script")
                        {{'map.element.script' | translate}}

              %hr

              -#prototypes
              %div(ng-if="element.prototype_type == 'image'" ng-include="'/map-constructor/templates/_map_image.html'")
              %div(ng-if="element.prototype_type == 'text'" ng-include="'/map-constructor/templates/_map_text.html'")
              %div(ng-if="element.prototype_type == 'device'" ng-include="'/map-constructor/templates/_map_device.html'")
              %div(ng-if="element.prototype_type == 'script'" ng-include="'/map-constructor/templates/_map_script.html'")

              .row
                .col-md-12
                  %a.btn.btn-default(href="" role="button" ng-click="removeElement(element)")
                    {{'Delete' | translate}}
                  %a.btn.btn-default(href="" role="button" ng-click="updateElement(element)")
                    {{'Update' | translate}}
                  %a.btn.btn-default(href="#" ng-click="current_layer.copyElement(element, $event)" ng-if="element.prototype_type != 'device'")
                    {{'Copy' | translate}}

