.row
  .col-md-6
    .form-group
      %laber {{'map.element.prototype.text' | translate}}
      %textarea.form-control(ng-model="element.prototype.text")

  .col-md-6
    .form-group
      %laber {{'map.element.prototype.style' | translate}}
      %textarea.form-control(ng-model="element.prototype.style")
