.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        {{'map.main_window' | translate}}
      .map-wrapper
        .map-editor
          -# map layer
          .map-layer(ng-repeat="layer in map.layers | orderBy:'-weight'" ng-if="layer.status != 'disabled'")

            -# layer element
            .draggable(map-editor-element="element" ng-repeat="element in layer.elements | orderBy:'-weight'" ng-if="element.status != 'disabled'" ng-class="['map-'+element.prototype_type, {'selected': element.selected}]")

        .page-loader
          .spinner
            {{"loading..."| translate}}
        .fullscreen.entry(ng-click="resize()" data-help="resize editor window")
          {{"full screen" | translate}}

.row
  .col-md-3
    %div(ng-include="'/map-constructor/templates/_map_layers.html'")
    .form-group(ng-if="current_layer")
      %div(ng-include="'/map-constructor/templates/_map_layer.html'")

  .col-md-9
    .form-group(ng-if="current_layer")
      %div(ng-include="'/map-constructor/templates/_map_menu.html'")
    .form-group(ng-if="!map.layers.length")
      {{'map.add_layer' | translate}}
    .form-group(ng-if="current_layer")
      %div(ng-include="'/map-constructor/templates/_map_elements.html'")
