.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        {{'map.main_window' | translate}}
      .map-wrapper
        .map-editor
          -# map layer
          .map-layer(ng-repeat="layer in map.model.layers | orderBy:'-weight'" ng-if="layer.status == 'enabled'")

            -# layer element
            .draggable(map-entity="element" ng-repeat="element in layer.elements | orderBy:'-weight'" ng-if="element.status == 'enabled'")

        .page-loader
          .spinner
            {{"loading..."| translate}}
        .fullscreen.entry(ng-click="resize()" data-help="resize editor window")
          {{"full screen" | translate}}

.row
  .col-md-3
    %div(ng-include="'/map-constructor/templates/_map_layers.html'")
  .col-md-9
    .form-group(ng-if="current_layer")
      %div(ng-include="'/map-constructor/templates/_map_menu.html'")
    .form-group(ng-if="current_layer")
      %div(ng-include="'/map-constructor/templates/_map_elements.html'")
    .form-group(ng-if="current_layer")
      .panel.panel-default
        .panel-heading
          {{'current layer' | translate}}
        .panel-body
          .row(ng-if="current_layer.created_at && current_layer.update_at")
            .col-sm-12
              .pull-right.date-info-block
                .form-group
                  -#%small
                    Создано {{current_layer.created_at | readableDateTime}}
                  %small
                    Редактировалось {{current_layer.update_at | readableDateTime}}
          .row
            .col-md-6
              .form-group
                %laber {{'map.layer.name' | translate}}*
                %input.form-control(ng-model="current_layer.name")
            .col-md-6
              .form-group
                %laber {{'map.layer.status' | translate}}
                %select.form-control(ng-model="current_layer.status")
                  %option(value="enabled")
                    {{'map.layer.enabled' | translate}}
                  %option(value="disabled")
                    {{'map.layer.disabled' | translate}}

          .form-group
            %laber {{'map.layer.description' | translate}}
            %textarea.form-control(ng-model="current_layer.description" rows="2" )

          .form-group
            %a.btn.btn-default(href="" role="button" ng-click="removeLayer(current_layer)")
              {{'Delete' | translate}}
            %a.btn.btn-default(href="" role="button" ng-click="updateLayer(current_layer)")
              {{'Update' | translate}}

