.widget-header
  %i.fa.fa-dot-circle-o.status-icon
  .title
    %strong(translate="widget.name.{{widget.name}}")
  .widget-header-btns
    %a(title="settings" ng-click="openSettings()" href="#" )
      %i.fa.fa-cog
    %a(title="remove widget" ng-click="removeWidget()" href="#" )
      %i.fa.fa-trash
  .clearfix

  .widget-container
    .widget-content
      .counter {{online}}

  %ul.widget-footer
    %li
      .label {{'widget.devices.total' | translate}}
      .counter {{total}}
    %li
      .label {{'widget.devices.disabled' | translate}}
      .counter {{disabled}}
    %li
      .label {{'widget.devices.error' | translate}}
      .counter(ng-class="{'danger' : error > 0}" )
        {{error}}