#main-content.enlarged
    .menu-toggle
        %a.menubutton(href="#")
            %i.fa.fa-bars
    .sidebar.smart
        %div(wpmenu="dashboard.menu")
    .main-body-wrapper
        .main-body
            %ui-view
