.row
  .col-md-12
    %h3
      %a(href="" ui-sref="dashboard.script.index")
        %small.fa.fa-long-arrow-left
          &nbsp;
      {{'script.show_form' | translate}} №{{script.script.id}}
      &nbsp;
      ("{{script.script.name}}")
      .edit-icon-link
        %a(ui-sref="dashboard.script.edit({id:script.script.id})")
          %span.fa.fa-pencil

    .pull-right.date-info-block
      .form-group
        %small
          {{'Created at' | translate}} {{script.script.created_at | readableDateTime}}
        %small
          {{'Updated at' | translate}} {{script.script.update_at | readableDateTime}}

.row
  .col-md-2

    .form-group
      .text-muted
        {{'script.name' | translate}}
      %div
        {{::script.script.name}}

    .form-group
      .text-muted
        {{'script.lang' | translate}}
      %div
        {{::script.script.lang}}

    .form-group(ng-if="script.script.description")
      .text-muted
        {{'script.description' | translate}}
      %div
        {{::script.script.description}}
  .col-md-10
    .form-group
      %laber {{'script.source' | translate}}
      .ace-editor.form-control(ng-model="script.script.source" ui-ace="ace_options")