-# selected object options
.row
  .col-md-12(ng-repeat="element in selected" )
    .form-group.element-type-name(ng-if="element.data.type.name")
      %strong
        {{element.data.type.name}}

    .form-group
      %laber {{'flow.element.title' | translate}}
      %input.form-control(ng-model="element.data.title")

    -#
    -#  Flow (select2)
    -#
    .form-group(ng-if="element.data.type.name == 'flow'")
      %laber.clearfix
        {{'flow.element.flow_link' | translate}}
      %ui-select(ng-model="elementFlows[element.data.id]" theme="bootstrap")
        %ui-select-match(placeholder="{{'flow.element.flow' | translate}}" allow-clear="true")
          %div(ng-if="elementFlows[element.data.id].name")
            {{elementFlows[element.data.id].name}}
        %ui-select-choices(repeat="item in flows | filter: $select.search" refresh="refreshFlows($select.search)" refresh-delay="0")
          %span(ng-bind-html="item.name | highlight: $select.search")
        %ui-select-no-choice
          {{'No data' | translate}}

    -#
    -#  Script (select2)
    -#
    .form-group(ng-if="element.data.type.name != 'flow'")
      %laber.clearfix
        {{'flow.element.script' | translate}}
        .pull-right
          .dropdown
            %a.dropdown-toggle( data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href="#")
              {{'flow.element.menu' | translate}}
              %span.caret
            %ul.dropdown-menu(aria-labelledby="dropdownMenu1")
              %li
                %a(href="#" ng-click="addScript(element.data.id, $event)")
                  {{'flow.element.add_script' | translate}}
                %a(href="#" ng-click="showScript(elementScripts[element.data.id], $event)" ng-if="elementScripts[element.data.id].name")
                  {{'flow.element.show_script' | translate}}
                %a(href="#" ng-click="editScript(elementScripts, element.data.id, $event)" ng-if="elementScripts[element.data.id].name")
                  {{'flow.element.edit_script' | translate}}


      %ui-select(ng-model="elementScripts[element.data.id]" theme="bootstrap")
        %ui-select-match(placeholder="{{'device.action.script' | translate}}" allow-clear="true")
          %div(ng-if="elementScripts[element.data.id].name")
            {{elementScripts[element.data.id].name}} ({{elementScripts[element.data.id].lang}})
        %ui-select-choices(repeat="item in scripts | filter: $select.search" refresh="refreshScripts($select.search)" refresh-delay="0")
          %div
            %span(ng-bind-html="item.name | highlight: $select.search")
            (
            %small.text-muted(ng-bind-html="item.lang | highlight: $select.search")
            )
        %ui-select-no-choice
          {{'No data' | translate}}

    .form-group
      %laber {{'flow.element.description' | translate}}
      %textarea.form-control(ng-model="element.data.description" rows="2" )

    .form-group
      %a.btn.btn-default.full-width.cropping(ng-click="removeElement(element, $index)" href="#")
        {{'flow.element.remove' | translate}}