.row
  .col-md-12
    %h3
      %a(href="" ui-sref="dashboard.flow.index")
        %small.fa.fa-long-arrow-left
          &nbsp;
      {{'flow.show_form' | translate}} "{{flow.name}}"
      .edit-icon-link
        %a(ui-sref="dashboard.flow.edit({id:flow.id})")
          %span.fa.fa-pencil

    .pull-right.date-info-block
      .form-group
        %small
          {{'Created at' | translate}} {{flow.created_at | readableDateTime}}
        %small
          {{'Updated at' | translate}} {{flow.update_at | readableDateTime}}

.row
  .col-md-2
    .form-group
      .text-muted
        {{'flow.status' | translate}}
      %span.label.label-success(ng-if="flow.status == 'enabled'")
        {{"flow.enabled" | translate}}
      %span.label.label-default(ng-if="flow.status == 'disabled'")
        {{"flow.disabled" | translate}}

    .form-group
      .text-muted
        {{'flow.name' | translate}}
      %div
        {{::flow.name}}

    .form-group
      .text-muted
        {{'flow.workers' | translate}}
      %div
        .form-group(ng-repeat="worker in flow.workers")
          %div
            %small
              {{'worker.name' | translate}}:
              {{worker.name}}
          %div
            %small
              {{'worker.action_name' | translate}}:
              {{worker.device_action.name}}
          %div
            %small
              {{'worker.cron' | translate}}:
              {{worker.time}}

    .form-group(ng-if="flow.description")
      .text-muted
        {{'flow.description' | translate}}
      %div
        {{::flow.description}}

  .col-md-10(ng-controller="bpmnViewerCtrl" )
    #scheme1.scheme(style="height:400px;")