
@base_color: #303E4D;

@import "notify";
@import "wpmenu";
@import "wpmenu-smart-theme";
@import "table";
@import "bpmn";
@import "accordion";
@import "ace-editor";

html,
body {
  height: 100% !important;
  min-height: 100% !important;
  font-size: 13px;
}

#main-content {
  height: auto;
  min-height: 100% !important;

  .navbar {
    margin-bottom: 0;
  }

  .sidebar {
    top: 50px;
    z-index: 12;
  }
  .main-body-wrapper {
    position: fixed;
    overflow: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    .main-body {
      overflow: auto;
      height: 100%;
      padding: 15px;
      background: #fbfcff;
    }
  }
}//#main-content

.btn {
  + .btn {
    margin-left: 15px;
  }
}

.date-info-block {
  small {
    &:first-child {
      background-color: #dadbde;
      padding: 5px 13px;
    }

    + small {
      padding-left: 10px;
    }
  }
}

.edit-icon-link {
  display: inline-block;
  font-size: 0.7em;
  padding: 0 0 0 10px;
  line-height: 1.3;
  a {
    color: #999;
    &:hover {
      color: #565656;
    }
  }
}

// bpmn
.bpmn-wrapper {
  outline: solid #dedede 1px;
  min-height: 200px;
  background: rgba(245,245,245,0.88);

  > .ui-resizable-handle {
    background: @base_color;
  }

}

.full-width {
  width: 100%;
}

// console
.console {
  background-color: #2d2d2d;
  color: #d4d4d4;
  width: 100%;
  min-height: 50px;
  position: relative;
  padding: 10px;

  .close {
    position: absolute;
    top: 10px;
    right: 15px;
  }

  a {
    color: #d4d4d4;
    &:hover {
      text-decoration: none;
    }
  }

  pre {
    display: block;
    padding: 0;
    margin: 0 15px 0 0;
    font-size: 13px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    color: inherit;
    background-color: inherit;
    border: none;
    border-radius: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre-line;

  }
}