.ngdialog {

  /* ------------------------ scripts ----------------------------*/
  &.ngdialog-scripts-show {
    padding: 20px;
    .ngdialog-content {
      padding: 0;
      border-radius: 0;
      width: 100%;
      max-width: 1024px;
    }
  }

  &.ngdialog-scripts-new {
    padding: 20px;
    .ngdialog-content {
      padding: 15px;
      border-radius: 0;
      width: 100%;
      max-width: 1024px;
    }
  }
}