.row
  .col-md-6
    .form-group
      %laber {{'map.name' | translate}}*
      %input.form-control(ng-model="map.name")

.row
  .col-md-6
    .form-group
      %laber {{'map.description' | translate}}
      %textarea.form-control(ng-model="map.description" rows="10" )

.row
  .col-md-6
    .form-group
      %laber {{'map.zoom' | translate}}
      %input.form-control(ng-model="map.options.zoom" type="number" step="0.1" min="1" max="4")

.row
  .col-md-6
    .pull-right
      %a.btn.btn-danger(href="" role="button" ng-click="remove()")
        {{'Delete' | translate}}
      %a.btn.btn-primary(href="" role="button" ng-click="update()")
        {{'Update' | translate}}
