.form-group
  %laber {{'device.action.name' | translate}}*
  %input.form-control(ng-model="action.current.name")

.form-group
  %laber
    {{'device.script' | translate}}
    .pull-right
      .dropdown
        %a.dropdown-toggle( data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href="#")
          {{'device.action.menu' | translate}}
          %span.caret
        %ul.dropdown-menu(aria-labelledby="dropdownMenu1")
          %li
            %a(href="#" ng-click="action.addScript($event)")
              {{'device.action.add_script' | translate}}
            %a(href="#" ng-click="action.showScript(action.current.script, $event)" ng-if="action.current.script")
              {{'device.action.show_script' | translate}}
            %a(href="#" ng-click="action.editScript(action.current.script, $event)" ng-if="action.current.script")
              {{'device.action.edit_script' | translate}}
  -#
  -#  select2
  -#
  %ui-select(ng-model="action.current.script" theme="bootstrap")
    %ui-select-match(placeholder="{{'device.action.script' | translate}}")
      %div(ng-if="action.current.script")
        {{action.current.script.name}} ({{action.current.script.lang}})
    %ui-select-choices(repeat="item in scripts | filter: $select.search" refresh="refreshScripts($select.search)" refresh-delay="0")
      %div
        %span(ng-bind-html="item.name | highlight: $select.search")
        (
        %small.text-muted(ng-bind-html="item.lang | highlight: $select.search")
        )
    %ui-select-no-choice
      {{'No data' | translate}}


.form-group
  %laber {{'device.action.description' | translate}}
  %textarea.form-control(ng-model="action.current.description" rows="5")