.form-group
  %laber {{'device.action.name' | translate}}*
  %input.form-control(ng-model="action.current.name")

.form-group
  %laber {{'device.action.command' | translate}}*
  %input.form-control(ng-model="action.current.command")

.form-group
  %laber {{'device.action.direction' | translate}}
  %select.form-control(ng-model="action.current.direction")
    %option(value="inside")
      {{'device.action.inside' | translate}}
    %option(value="outside")
      {{'device.action.outside' | translate}}

.form-group
  %laber {{'device.action.start_addr' | translate}}
  %input.form-control(ng-model="action.current.start_addr")

.form-group
  %laber {{'device.action.col_cells' | translate}}
  %input.form-control(ng-model="action.current.col_cells")

.form-group
  %laber {{'device.action.result_type' | translate}}
  %input.form-control(ng-model="action.current.result_type")

.form-group
  %laber {{'device.action.function' | translate}}
  %input.form-control(ng-model="action.current.function")

.form-group
  %laber {{'device.action.description' | translate}}
  %textarea.form-control(ng-model="action.current.description" rows="5")