.recovery-form
  .panel.panel-primary
    .panel-heading
      Recovery access
    .panel-body
      .form-group(ng-if="error")
        .alert.alert-danger
          {{error}}
      .form-group
        %input.form-control(ng-model="email" type="email" placeholder="E-mail")
      .form-group.clearfix
        %a.pull-right(href="#" ui-sref="signin" )
          login form
      .btn.btn-default(ng-click="signin()" ng-disabled="!email || !password")
        Recovery access
