.signin-form
  .panel.panel-primary
    .panel-heading
      Sign in
    .panel-body
      .form-group(ng-if="error")
        .alert.alert-danger
          {{error}}

      .form-group
        %input.form-control(ng-model="email" type="email" placeholder="E-mail")
      .form-group
        %input.form-control(ng-model="password" type="password" placeholder="Password")
      .form-group.clearfix
        %a.pull-right(href="#" ui-sref="recovery" )
          forgot password?
      .btn.btn-default(ng-click="signin()" ng-disabled="!email || !password")
        Sign in
