-# text element
%span(ng-style="{{element.prototype.style}}" ng-bind="element.prototype.text" ng-if="element.prototype_type == 'text'")

-# image element
%img.unselectable( ng-src="{{element.prototype.image.url}}" ng-style="{{element.prototype.style}}" ng-if="element.prototype_type == 'image'" )

-# device element
%div( map-viewer-device="element" ng-if="element.prototype_type == 'device'")