.row
  .col-md-6
    .form-group
      %laber {{'map.element.prototype.image' | translate}}*
      .map-preview-img.relative
        %a(ng-href="{{element.prototype.image.url}}" rel="gallery" title="original" ng-if="element.prototype.image.url" fancybox="true")
          %img(ngf-thumbnail="element.prototype.image.url || '/thumb.jpg'" alt="" title="")
        %a.delete.button(href="#" ng-click="element.prototype.remove_image()" ng-if="element.prototype.image.url")
          .cross

        %img(ngf-thumbnail="element.prototype.file" alt="" title="" ng-if="element.prototype.file")
        %a.delete.button(href="#" ng-click="element.prototype.file = null" ng-if="element.prototype.file")
          .cross

        %button.btn.btn-default.custom-upload.full-width(file-manager="{}" ng-model="element.prototype.image" ng-if="!element.prototype.image.url")
          .fa.fa-upload
          &nbsp;
          {{'set image' | translate}}



  .col-md-6
    .form-group
      %laber {{'map.element.prototype.style' | translate}}
      %textarea.form-control(ng-model="element.prototype.style")
