.row
  .col-md-6
    .form-group
      %laber.clearfix
        .pull-left
          {{'map.element.device' | translate}}
        .pull-right(ng-if="element.prototype.device.id")
          %a(href="#" ui-sref="dashboard.device.show({id: element.prototype.device.id})")
            {{'go to' | translate}}
      -#
      -#  select2
      -#
      %ui-select(ng-model="element.prototype.device" theme="bootstrap")
        %ui-select-match(placeholder="{{'device.name' | translate}}")
          %div
            {{element.prototype.device.name}}
            %small(ng-if="element.prototype.device.parent_device")
              ({{element.prototype.device.parent_device.name}})
        %ui-select-choices(repeat="item in element.prototype.devices | filter: $select.search" refresh="element.prototype.refreshDevices($select.search)" refresh-delay="0")
          %span(ng-bind-html="item.name | highlight: $select.search")
          %small(ng-if="item.device.name")
            ({{item.device.name}})
        %ui-select-no-choice
          {{'No data' | translate}}

.row
  .col-md-12
    .form-group
      %ul.nav.nav-tabs
        %li(role="presentation" ng-click="element.current_tab = 'base'" ng-class="{'active' : element.current_tab == 'base'}" )
          %a(href="#")
            {{'map.element.prototype.device.tab.base' | translate}}
        %li(role="presentation" ng-click="element.current_tab = 'states'" ng-class="{'active' : element.current_tab == 'states'}" )
          %a(href="#")
            {{'map.element.prototype.device.tab.states' | translate}}
        %li(role="presentation" ng-click="element.current_tab = 'actions'" ng-class="{'active' : element.current_tab == 'actions'}" )
          %a(href="#")
            {{'map.element.prototype.device.tab.actions' | translate}}

.row(ng-if="element.current_tab == 'base'")
  .col-md-6
    .form-group
      .map-preview-img.relative
        %a(ng-href="{{element.prototype.image.url}}" rel="gallery" title="original" ng-if="element.prototype.image.url" fancybox="true")
          %img(ngf-thumbnail="element.prototype.image.url || '/thumb.jpg'" alt="" title="")
        %a.delete.button(href="#" ng-click="element.prototype.removeImage()" ng-if="element.prototype.image.url")
          .cross

        %button.btn.btn-default.custom-upload.full-width(file-manager="{}" ng-model="element.prototype.image" ng-if="!element.prototype.image.url")
          .fa.fa-upload
          &nbsp;
          {{'set image' | translate}}

%div(ng-if="element.current_tab == 'states'")

  .row(ng-if="!element.prototype.states.length")
    .col-md-6
      .form-group.text-center
        {{'No states' | translate}}

  .row(ng-if="element.prototype.device.id")
    .col-md-6
      .form-group
        %strong {{'map.element.prototype.device.image' | translate}}
    .col-md-6
      .form-group
        %strong {{'map.element.prototype.device.state' | translate}}

  .row(ng-repeat="state in element.prototype.states" ng-if="element.prototype.device.id")
    .col-md-6
      .form-group
        .map-preview-img.relative
          %a(ng-href="{{state.image.url}}" rel="gallery" title="original" ng-if="state.image.url" fancybox="true")
            %img(ngf-thumbnail="state.image.url || '/thumb.jpg'" alt="" title="")
          %a.delete.button(href="#" ng-click="state.removeImage()" ng-if="state.image.url")
            .cross

          %button.btn.btn-default.custom-upload.full-width(file-manager="{}" ng-model="state.image" ng-if="!state.image.url")
            .fa.fa-upload
            &nbsp;
            {{'set image' | translate}}

      .form-group
        %laber {{'map.element.prototype.style' | translate}}
        %textarea.form-control(ng-model="state.style")

    .col-md-6
      .form-group
        %div
          %a(ui-sref="dashboard.device.show.statuses({id: element.prototype.device.id})" target="_blank")
            {{state.device_state.system_name}}
        %div
          %small(ng-if="state.device_state.description") {{state.device_state.description}}

%div(ng-if="element.prototype.device.id && element.current_tab == 'actions'")
  .row(ng-if="!element.prototype.actions.length")
    .col-md-6
      .form-group.text-center
        {{'No actions' | translate}}

  .row(ng-if="element.prototype.actions.length")
    .col-md-6
      .form-group
        %strong {{'map.element.prototype.device.image' | translate}}
    .col-md-6
      .form-group
        %strong {{'map.element.prototype.device.action' | translate}}

  .row(ng-repeat="action in element.prototype.actions")
    .col-md-6
      .form-group
        .map-preview-img.relative
          %a(ng-href="{{action.image.url}}" rel="gallery" title="original" ng-if="action.image.url" fancybox="true")
            %img(ngf-thumbnail="action.image.url || '/thumb.jpg'" alt="" title="")
          %a.delete.button(href="#" ng-click="action.removeImage()" ng-if="action.image.url")
            .cross

          %button.btn.btn-default.custom-upload.full-width(file-manager="{}" ng-model="action.image" ng-if="!action.image.url")
            .fa.fa-upload
            &nbsp;
            {{'set image' | translate}}

    .col-md-6
      .form-group
        %div
          %a(ui-sref="dashboard.device.show({id: element.prototype.device.id})" target="_blank")
            {{action.device_action.name}}
        %div
          %small(ng-if="action.device_action.description") {{action.device_action.description}}
