.row
    .col-md-2
        .form-group
            %laber {{'script.name' | translate}}*
            %input.form-control(ng-model="script.script.name")

        .form-group
            %laber {{'script.lang' | translate}}*
            %select.form-control(ng-model="script.script.lang")
                %option(value="coffeescript")
                    coffee script
                %option(value="javascript")
                    javascript
                %option(value="lua")
                    lua

        .form-group
            %laber {{'script.description' | translate}}
            %textarea.form-control(ng-model="script.script.description" rows="2" )

        .form-group(ng-if="script.script.id")
            %a.btn.btn-success.full-width(ng-click="script.exec()")
                {{'script.execute' | translate}}

    .col-md-10
        .form-group(ng-if="script.script.result")
            .console
                %pre(ng-bind-html="script.script.result")
                %a.close(href="#" ng-click="script.script.result = ''" )
                    x

        .form-group
            %laber {{'script.source' | translate}}
            .ace-editor.form-control(ng-model="script.script.source" ui-ace="ace_options")