.row
  .col-md-6
    %h3
      %a(href="" ui-sref="dashboard.script.show({id: script.script.id})")
        %small.fa.fa-long-arrow-left
          &nbsp;
      {{'script.edit_form' | translate}}
      &nbsp;
      "{{script.script.name}}"

.row
  .col-md-12
    %div(ng-include="'/script/templates/_script_form.html'")
.row
  .col-md-12
    .pull-right
      %a.btn.btn-danger(href="" role="button" ng-click="script.remove()")
        {{'Delete' | translate}}
      %a.btn.btn-default(href="" role="button" ui-sref="dashboard.script.index")
        {{'Close' | translate}}
      %a.btn.btn-primary(href="" role="button" ng-click="script.submit()")
        {{'Update' | translate}}