.row
  .col-md-12
    %h3 {{'map.index_form' | translate}}

.row
  .col-md-12
    .form-group
      %a(ui-sref="dashboard.map.new")
        %i.fa.fa-plus
        &nbsp;
        {{'Add new' | translate}}

.row
  .col-md-12
    .table.maps(table="options")