.row
  .col-sm-12
    %h3
      %a(href="" ui-sref="dashboard.map.show({id: map.id})")
        %small.fa.fa-long-arrow-left
          &nbsp;
      {{'map.edit_form' | translate}} №{{map.id}} - {{map.name}}

    .pull-right.date-info-block
      .form-group
        %small
          {{'Created at' | translate}} {{map.created_at | readableDateTime}}
        %small
          {{'Updated at' | translate}} {{map.update_at | readableDateTime}}

.row
  .col-sm-12
    .form-group
      %ul.nav.nav-tabs
        %li(role="presentation" ui-sref-active-eq="active" ui-sref="dashboard.map.edit.settings")
          %a(href="#")
            {{'map.settings' | translate}}
        %li(role="presentation" ui-sref-active-eq="active" ui-sref="dashboard.map.edit.main")
          %a(href="#")
            {{'map.main_window' | translate}}
        %li(role="presentation" ui-sref-active-eq="active" ui-sref="dashboard.map.edit.callback")
          %a(href="#")
            {{'map.callback' | translate}}

.row
  .col-sm-12
    %div(ui-view="editortabs")
