.row
  .col-md-12
    %h3 {{'role.index_form' | translate}}

.row
  .col-md-12
    .form-group
      %a(ui-sref="dashboard.role.new" )
        .fa.fa-plus
        &nbsp;
        {{'role.add_new' | translate}}

.row
  .col-md-12
    .table.users(table="options")