.row
  .col-md-12
    %h3
      %a(href="" ui-sref="dashboard.role.index")
        %small.fa.fa-long-arrow-left
          &nbsp;
      {{'role.show_form' | translate}} - {{role.name}}
      .edit-icon-link
        %a(ui-sref="dashboard.role.edit({name:role.name})")
          %span.fa.fa-pencil
        &nbsp;
        %a(href="" ui-sref="dashboard.permissions.show({name: role.name})")
          %small.fa.fa-key

    .pull-right.date-info-block
      .form-group
        %small
          {{'Created at' | translate}} {{role.created_at | readableDateTime}}
        %small
          {{'Updated at' | translate}} {{role.update_at | readableDateTime}}

.row
  .col-md-2
    .form-group
      .text-muted {{'role.name' | translate}}
      %div {{::role.name}}
    .form-group
      .text-muted {{'role.description' | translate}}
      %div {{::role.description}}
    .form-group(ng-if="role.parent")
      .text-muted {{'role.parent' | translate}}
      %a(ui-sref="dashboard.role.show({name: role.parent.name})" )
        {{role.parent.name}}
    .form-group(ng-if="role.children.length")
      .text-muted {{'role.children' | translate}}
      %div(ng-repeat="child in role.children")
        %a(ui-sref="dashboard.role.show({name: child.name})" )
          {{child.name}}