.row
  .col-md-2.col-sm-3
    .row
      .col-md-12
        %h3 {{'Menu' | translate}}

    .form-group
      %ul.nav.nav-pills.nav-stacked
        %li.presentation(ng-class="{ active: $state.includes('dashboard.user') }")
          %a(ui-sref="dashboard.user.index")
            {{'Users' | translate}}
        %li.presentation(ng-class="{ active: $state.includes('dashboard.role') }")
          %a(ui-sref="dashboard.role.index")
            {{'Roles' | translate}}
        %li.presentation(ng-class="{ active: $state.includes('dashboard.permissions') }")
          %a(ui-sref="dashboard.permissions")
            {{'Permissions' | translate}}

  .col-md-10.col-sm-9
    %ui-view