.row
  .col-md-12
    %h3 {{'log.index_form' | translate}}

.row
  .col-md-3
    .form-group
      %laber {{'log.start_date' | translate}}
      .input-group(ng-init="qwe = ''")
        %input.form-control(pikaday="qwe" ng-model="qwe" number-of-months="1" on-select="setStartDay(date)")
        %span.input-group-addon
          %a(ng-click="setStartDay(null);qwe=null" href="#" )
            .fa.fa-close

  .col-md-3
    .form-group
      %laber {{'log.end_date' | translate}}
      .input-group
        %input.form-control(pikaday="qwe1" ng-model="qwe1" number-of-months="1" on-select="setEndDay(date)")
        %span.input-group-addon
          %a(ng-click="setEndDay(null);qwe1=null" href="#" )
            .fa.fa-close

.row
  .col-md-6
    .form-group
      %a(href="#" ng-click="level.selected = !level.selected" ng-repeat="level in levels" )
        %span.label(ng-class="{'label-primary' : level.selected, 'label-default': !level.selected}")
          {{level.name}}
        &nbsp;

.row
  .col-md-12
    .table.logging(table="options")