.form-group
  %laber {{'flow.element.title' | translate}}
  %input.form-control(ng-model="element.data.title")

.form-group
  %laber {{'flow.element.description' | translate}}
  %textarea.form-control(ng-model="element.data.description" rows="2" )