.form-group
  %laber {{'worker.name' | translate}}*
  %input.form-control(ng-model="worker.name")

.form-group
  %laber {{'worker.time' | translate}}*
  %input.form-control(ng-model="worker.time")

.form-group
  %laber {{'worker.status' | translate}}
  %select.form-control(ng-model="worker.status")
    %option(value="enabled")
      {{'worker.enabled' | translate}}
    %option(value="disabled")
      {{'worker.disabled' | translate}}

.form-group
  %laber.clearfix
    {{'worker.action_name' | translate}}
    .pull-right(ng-if="worker.device_action.device.id")
      %a(href="#" ui-sref="dashboard.device.show({id: worker.device_action.device.id})")
        {{'go to' | translate}}
  -#
  -#  select2
  -#
  %ui-select(ng-model="worker.device_action" theme="bootstrap")
    %ui-select-match(placeholder="{{'device.action.name' | translate}}")
      {{worker.device_action.name}} ({{worker.device_action.device.name}})
    %ui-select-choices(repeat="item in actions | filter: $select.search" refresh="refreshActions($select.search)" refresh-delay="0")
      %div(ng-bind-html="item.name | highlight: $select.search")
      %small(ng-bind-html="item.device.name | highlight: $select.search")
    %ui-select-no-choice
      {{'No data' | translate}}

.form-group
  %a.btn.btn-success.full-width(ng-click="doWorker(worker, $index)")
    {{'flow.do_worker' | translate}}
.form-group
  %a.btn.btn-default.full-width(ng-click="removeWorker(worker, $index)")
    {{'flow.remove_worker' | translate}}