.row
  .col-md-12
    %h3
      %a(href="" ui-sref="dashboard.flow.show({id:flow.id})")
        %small.fa.fa-long-arrow-left
          &nbsp;
      {{'flow.edit' | translate}} "{{flow.name}}"

.row(ng-controller="bpmnEditorCtrl" callback="callback")
  .col-md-2
    .dark(accordion-v1="flow-description" title="{{'flow.description' | translate}}")
      %div(ng-include="'/flow/templates/_flow_form.html'")

    .dark(accordion-v1="flow-elements" title="{{'flow.elements' | translate}}" ng-if="selected.length" expand=true)
      %div(ng-include="'/flow/templates/_element_form.html'")

    .dark(accordion-v1="flow-worker" title="{{'flow.element.type.connector' | translate}}" ng-if="selectedConn.object" expand=true)
      %div(ng-include="'/flow/templates/_connector_form.html'")

    .dark(accordion-v1="flow-worker" title="{{'flow.worker' | translate}} ({{worker.name}})" ng-repeat="worker in flow.workers")
      %div(ng-include="'/flow/templates/_worker_form.html'")

    .form-group
      %a(href="#" ng-click="addNewWorker()" )
        .fa.fa-plus &nbsp;
        {{'flow.add_worker' | translate}}

  .col-md-10
    -# ---------------------------------------------
    -# redactor
    -# ---------------------------------------------
    #scheme1.scheme(style="height:400px;")

.row
  .col-md-12
    .pull-right
      %a.btn.btn-danger(href="" role="button" ng-click="remove()")
        {{'Delete' | translate}}
      %a.btn.btn-default(href="" role="button" ui-sref="dashboard.flow.show({id:flow.id})")
        {{'Close' | translate}}
      %a.btn.btn-primary(href="" role="button" ng-click="submit()")
        {{'Update' | translate}}