.row
  .col-md-12
    %h3
      %a(href="" ui-sref="dashboard.flow.show({id:flow.id})")
        %small.fa.fa-long-arrow-left
          &nbsp;
      Редактирование процесса "{{flow.name}}"

.row
  .col-md-2
    .dark(accordion-v1="flow-description" title="Описание процесса")
      %div(ng-include="'/flow/templates/_flow_form.html'")

    .dark(accordion-v1="flow-worker" title="worker")
      %div(worker=true)

  .col-md-10(ng-controller="bpmnEditorCtrl" callback="callback")
    #scheme1.scheme(style="height:400px;")

.row
  .col-md-12
    .pull-right
      %a.btn.btn-danger(href="" role="button" ng-click="remove()")
        {{'Delete' | translate}}
      %a.btn.btn-default(href="" role="button" ui-sref="dashboard.flow.show({id:flow.id})")
        {{'Cancel' | translate}}
      %a.btn.btn-primary(href="" role="button" ng-click="submit()")
        {{'Update' | translate}}