.row
  .col-md-6
    .row
      .col-md-12
        .form-group
          %a(href="#" ng-click="action.addNew()")
            .fa.fa-plus &nbsp;
            {{'device.action.add' | translate}}

    %div
      %div(ng-include="'/device/templates/_action_form.html'" )

      .form-group
        .pull-right
          %a.btn.btn-danger(href="" role="button" ng-click="action.remove()" ng-if="action.current.id")
            {{'Delete' | translate}}
          %a.btn.btn-default(href="" role="button" ng-click="action.cancel()" ng-if="action.current.id")
            {{'Cancel' | translate}}
          %a.btn.btn-primary(href="" role="button" ng-click="action.submit()")
            %span(ng-if="!action.current.id")
              {{'Create' | translate}}
            %span(ng-if="action.current.id")
              {{'Update' | translate}}
        .clearfix

  .col-md-6(ng-if="action.actions.length")
    .list-group
      .panel.panel-default
        .panel-heading
          {{'device.action.all' | translate}} ({{device.device.device.name || device.device.name}})
        %a.list-group-item(href="#" ng-repeat="act in action.actions" ng-click="action.show(act)" ng-class="{'active' : action.current.id == act.id}" )
          %strong.list-group-item-heading
            {{act.name}}
          .pull-right.small
            {{'Updated at' | translate}} {{act.update_at | readableDateTime}}
          .clearfix
          .pull-right(ng-if="act.script")
            %button.btn.btn-success.btn-xs(ng-click="action.doAction(act, $event)" type="button")
              .fa.fa-play
              &nbsp;
              {{'device.action.do_action' | translate}}
          .pull-left.list-group-item-text
            .small
              {{'device.device' | translate}} {{act.device.name}}
            .small
              {{act.description}}
            .small(ng-if="act.script")
              %span
                {{act.script.name}}
              (
              %span.text-muted
                {{act.script.lang}}
              )
          .clearfix