.row
  .col-sm-12
    %h3
      %a(href="" ui-sref="dashboard.device.index")
        %small.fa.fa-long-arrow-left
          &nbsp;
      {{'device.show_form' | translate}} №{{device.device.id}}
      .edit-icon-link
        %a(ui-sref="dashboard.device.edit({id:device.device.id})")
          %span.fa.fa-pencil

    .pull-right.date-info-block
      .form-group
        %small
          {{'Created at' | translate}} {{device.device.created_at | readableDateTime}}
        %small
          {{'Updated at' | translate}} {{device.device.update_at | readableDateTime}}

.row
  .col-sm-2
    .form-group
      .text-muted
        {{'device.name' | translate}}
      %div
        {{::device.device.name}}

    .form-group
      .text-muted
        {{'device.status.name' | translate}}
      %span.label.label-success(ng-if="device.device.status == 'enabled'")
        {{"device.enabled" | translate}}
      %span.label.label-default(ng-if="device.device.status == 'disabled'")
        {{"device.disabled" | translate}}

    .form-group(ng-if="device.device.address")
      .text-muted
        {{'device.address' | translate}}
      %div
        {{::device.device.address}}

    .form-group(ng-if="device.device.baud")
      .text-muted
        {{'device.baud' | translate}}
      %div
        {{::device.device.baud}}

    .form-group(ng-if="device.device.stop_bite")
      .text-muted
        {{'device.stop_bite' | translate}}
      %div
        {{::device.device.stop_bite}}

    .form-group(ng-if="device.device.timeout")
      .text-muted
        {{'device.timeout' | translate}}
      %div
        {{::device.device.timeout}}

    .form-group(ng-if="device.device.tty")
      .text-muted
        {{'device.tty' | translate}}
      %div
        {{::device.device.tty}}

    .form-group(ng-if="device.device.description")
      .text-muted
        {{'device.description' | translate}}
      %div
        {{::device.device.description}}

  .col-sm-10
    .form-group
      %ul.nav.nav-tabs
        %li(role="presentation" ui-sref-active-eq="active" ui-sref="dashboard.device.show")
          %a(href="#")
            {{'device.actions' | translate}}
        %li(role="presentation" ui-sref-active-eq="active" ui-sref="dashboard.device.show.statuses")
          %a(href="#")
            {{'device.statuses' | translate}}


    %div(ui-view="tab-view")
