<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Delta54 <support@e154.ru>">
<meta name="_xsrf" content="{{{.xsrf_token}}}" />

<link rel="stylesheet" href="/static/css/lib.min.css">
<link rel="stylesheet" href="/static/css/app.min.css">

<link rel="apple-touch-icon" sizes="180x180" href="/static/images/logo/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/static/images/logo/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/static/images/logo/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/static/images/logo/manifest.json">
<link rel="mask-icon" href="/static/images/logo/safari-pinned-tab.svg" color="#5bbad5">
<link itemprop="logo" href="/static/images/logo/apple-touch-icon.png" />
<link rel="logo" href="/static/images/logo/apple-touch-icon.png" />
<link rel="shortcut icon" type="image/ico" href="/static/images/logo/favicon.ico" />

<style type="text/css">
    body.loading {

    }
    body.loading * {
        display: none;
    }
    body .sk-cube-grid,
    body .sk-cube-grid *{
        display: none;
    }
    body.loading .sk-cube-grid,
    body.loading .sk-cube-grid *{
        display: inherit;
    }
    body.loading:before {
        background: #303E4D;
        content: '';
        display: block;
        height: 100%;
        position: fixed;
        width: 50px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .sk-cube-grid {
        width: 60px;
        height: 60px;
        position: fixed;
        top: 50%;
        left: 50%;
        margin: -10em 0 0 0;
    }

    .sk-cube-grid .sk-cube {
        width: 33%;
        height: 33%;
        background-color: #303E4D;
        float: left;
        -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
        animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    }
    .sk-cube-grid .sk-cube1 {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s; }
    .sk-cube-grid .sk-cube2 {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s; }
    .sk-cube-grid .sk-cube3 {
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s; }
    .sk-cube-grid .sk-cube4 {
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s; }
    .sk-cube-grid .sk-cube5 {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s; }
    .sk-cube-grid .sk-cube6 {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s; }
    .sk-cube-grid .sk-cube7 {
        -webkit-animation-delay: 0s;
        animation-delay: 0s; }
    .sk-cube-grid .sk-cube8 {
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s; }
    .sk-cube-grid .sk-cube9 {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s; }

    @-webkit-keyframes sk-cubeGridScaleDelay {
        0%, 70%, 100% {
            -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
        } 35% {
              -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1);
          }
    }

    @keyframes sk-cubeGridScaleDelay {
        0%, 70%, 100% {
            -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
        } 35% {
              -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1);
          }
    }

</style>

<script type="text/javascript">
window.app_settings = Object.create(Object.prototype, {
    server_url: {
        get: function(){
            return {{{.server_url}}};
        }
    },
    current_user: {
        get: function(){
            return {{{safeJs .current_user}}};
        }
    },
    token: {
        get: function(){
            return {{{.token}}};
        }
    },
    debug: {
        get: function(){
            return {{{.debug}}};
        }
    },
    version: {
        get: function () {
            return {{{.version}}}
        }
    }
});
</script>

<title>Сonfigurator</title>
