{"items":["header","body"],"title":"Администратор создал для вас учётную запись","fields":[{"name":"body","value":"[user:name:last] [user:name:first],
<br>
<br>Администратор системы [site:name] создал для вас аккаунт. Можете войти в систему, кликнув на ссылку или скопировав и вставив её в адресную строку браузера:
<br><br>[user:one-time-login-url] <br>
<br>Эта одноразовая ссылка для входа в систему направит вас на страницу задания своего пароля.<br>
<br>После установки пароля вы сможете входить в систему через страницу<br>[site:login-url]<br>
<br>-- Команда [site:name]"}]}
