.row
  .col-md-12
    %h3
      %a(href="" ui-sref="dashboard.node.index")
        %small.fa.fa-long-arrow-left
          &nbsp;
      {{'node.show_form' | translate}} №{{node.node.id}}
      .edit-icon-link
        %a(ui-sref="dashboard.node.edit({id:node.node.id})")
          %span.fa.fa-pencil

    .pull-right.date-info-block
      .form-group
        %small
          {{'Created at' | translate}} {{node.node.created_at | readableDateTime}}
        %small
          {{'Updated at' | translate}} {{node.node.update_at | readableDateTime}}

.row
  .col-md-12
    .form-group
      .text-muted
        {{'node.status' | translate}}
      %div(ng-if="node.node.status != 'disabled'")
        %span.label.label-success(ng-if="node.node.state == 'connected'")
          {{"node.state.connected" | translate}}
        %span.label.label-warning(ng-if="node.node.state == 'wait'")
          {{"node.state.wait" | translate}}
        %span.label.label-danger(ng-if="node.node.state == 'error'")
          {{"node.state.error" | translate}}
      %div(ng-if="node.node.status == 'disabled'")
        %span.label.label-default
          {{"node.disabled" | translate}}

    .form-group
      .text-muted
        {{'node.name' | translate}}
      %div
        {{::node.node.name}}
    .form-group
      .text-muted
        {{'node.ip' | translate}}
      %div
        {{::node.node.ip}}:{{::node.node.port}}

    .form-group(ng-if="node.node.description")
      .text-muted
        {{'node.description' | translate}}
      %div
        {{::node.node.description}}