.row
  .col-md-12
    %h3 {{'node.index_form' | translate}}

.row
  .col-md-12
    .form-group
      %a(ui-sref="dashboard.node.new")
        %i.fa.fa-plus
        &nbsp;
        {{'Add new' | translate}}

.row
  .col-md-12
    .table(table="node.options")