<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Delta54 <support@e154.ru>">
<meta name="_xsrf" content="{{{.xsrf_token}}}" />

<link rel="stylesheet" href="/_static/css/lib.min.css">
<link rel="stylesheet" href="/_static/css/app.min.css">

<link rel="apple-touch-icon" sizes="180x180" href="/static/images/logo/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/static/images/logo/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/static/images/logo/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/static/images/logo/manifest.json">
<link rel="mask-icon" href="/static/images/logo/safari-pinned-tab.svg" color="#5bbad5">
<link itemprop="logo" href="/static/images/logo/apple-touch-icon.png" />
<link rel="logo" href="/static/images/logo/apple-touch-icon.png" />
<link rel="shortcut icon" type="image/ico" href="/static/images/logo/favicon.ico" />

<style type="text/css"></style>
<script type="text/javascript"></script>

<title>Сonfigurator</title>
