.form-group
    %laber {{'node.name' | translate}}
    %input.form-control(ng-model="node.node.name")

.form-group
    %laber {{'node.description' | translate}}
    %input.form-control(ng-model="node.node.description")