.row
    .col-md-6
        %div(ng-include="'/node/templates/_node_form.html'")
.row
    .col-md-6
        .pull-right
            %a.btn.btn-default(href="" role="button")
                {{'Cancel' | translate}}
            %a.btn.btn-primary(href="" role="button")
                {{'Create' | translate}}