.row
  .col-md-12
    %h3
      %a(href="" ui-sref="dashboard.user.index")
        %small.fa.fa-long-arrow-left
          &nbsp;
      {{'user.edit_form' | translate}} - {{user.full_name || user.nickname}}

    .pull-right.date-info-block
      .form-group
        %small
          {{'Created at' | translate}} {{user.created_at | readableDateTime}}
        %small
          {{'Updated at' | translate}} {{user.update_at | readableDateTime}}

.row
  .col-md-6
    %div(ng-include="'/user/templates/_user_form.html'")

.row
  .col-md-6
    .pull-right
      %a.btn.btn-danger(href="" role="button" ng-click="remove()")
        {{'Delete' | translate}}
      %a.btn.btn-default(href="" role="button" ui-sref="dashboard.user.index")
        {{'Cancel' | translate}}
      %a.btn.btn-primary(href="" role="button" ng-click="update()")
        {{'Update' | translate}}