.row
  .col-md-12
    %h3 {{'user.index_form' | translate}}

.row
  .col-md-12
    .form-group
      %a(ui-sref="dashboard.user.new" )
        .fa.fa-plus
        &nbsp;
        {{'user.add_new' | translate}}

.row
  .col-md-12
    .table.users(table="options")